# Core
streamlit>=1.30.0
pandas>=2.0.0

# Mapas e visualização geográfica
folium>=0.14.0
streamlit-folium>=0.13.0

# Geodados
geopandas>=0.14.0
shapely>=2.0.0

# Suporte a arquivos e dados
openpyxl>=3.1.0
requests>=2.31.0

# Visualização extra
matplotlib>=3.8.0

# Processamento de imagem
opencv-python-headless>=4.10.0
